<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Редактировать покупателя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <form method="post" action="/saveBuyer">

        <label for="buyerName">Имя:               </label>
        <input type="text" id="buyerName" name="buyerName" required th:value="${buyer.getName()}"><br><br>

        <label for="buyerDescription">Описание:          </label>
        <input type="text" id="buyerDescription" name="buyerDescription" required th:value="${buyer.getDescription()}"><br><br>

        <label for="buyerPhone">Телефон:           </label>
        <input type="text" id="buyerPhone" name="buyerPhone" required th:value="${buyer.getPhone()}"><br><br>

        <label for="buyerEmail">Электронная почта: </label>
        <input type="text" id="buyerEmail" name="buyerEmail" required th:value="${buyer.getEmail()()}"><br><br>

        <label for="buyerAddress">Адрес:             </label>
        <input type="text" id="buyerAddress" name="buyerAddress" required th:value="${buyer.getAddress()}"><br><br>

        <input id="submitButton" type="submit" value="Сохранить" class="btn btn-primary">
    </form>
</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>