
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Товары</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <form method="get" action="/editGood">
        <button id="addGoodButton" type="submit" class="btn btn-primary">Добавить товар</button>
    </form>

    <br>

    <form method="get" action="/searchGood">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Имя" name="name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Сортировка" name="sortingId" list="sorts" />
                <datalist id="sorts">
                    <option value="Имя" />
                    <option value="Наличие" />
                    <option value="Срок хранения" />
                </datalist>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Порядок" name="asc" list="asc" />
                <datalist id="asc">
                    <option value="по возрастанию" />
                    <option value="по убыванию" />
                </datalist>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Поиск</button>
            </div>
        </div>
    </form>

    <br>

    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Тип</th>
            <th scope="col">Срок хранения</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${goods.isEmpty()}">
            <td colspan="3"> В базе пока нет ни одного товара. <a href="/editGood">Необходимо добавить</a></td>
        </tr>
        <tr th:each="good : ${goods}">
            <td><a th:href="'/good?goodId=' + ${good.getId()}"><span
                    th:text="${good.getName()}"></span></a></td>
            <td><span
                    th:text="${good.getType()}"></span></td>
            <td><span
                    th:text="${good.getTime_of_keeping()}"></span></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>